/* Relleno debajo del pie de página y cuerpo de texto más claro */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: rgb(244,244,247);
    background: radial-gradient(circle, rgba(244,244,247,1) 0%, rgba(217,217,230,1) 99%);
}

/* Base Carousel */
.carousel {
  margin-bottom: 4rem;
}
/* Pie de foto desde la posición de la imagen */
.carousel-caption {
    bottom: 6rem;
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #605a5a
}

/* Altura dado las posiciones de las img */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 28rem;
}


/*  columnas */
.marketing .col-lg-4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}
.marketing h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/*videos */

.featurette-divider {
    margin: 1.1rem 0; /* espacio <hr> */
}

/*propiedades texto info video */

.col-md-7 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 40px;
    position:center;
    margin: 2.5rem 0;
}

.col-md7 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    /* Reducir encabezado */
    .featurette-heading {
    font-weight: 100;
    line-height: 0,5;
    letter-spacing: -.08rem;
}

@media (min-width: 40em) {
    /*tamaño carousel*/
  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

   /*pie de página*/
.justify-content-center {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2rem 2rem;
}
